In [1]:
import pickle as pk
import pandas as pd
import numpy as np

In [3]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# 今日头条新闻分类数据爬取

import requests
import json
import time
import random

In [48]:
with open('cnews.train.txt', 'r') as f:
    lines = f.readlines()
    my_list = []
    for line in lines:
        lst = line.split()
        my_list.append(lst)
        
    
    label_list = []
    title_list = []
    author_list = []
    content_list = []

    
    
    for i in range(len(lines)):
        label_list.append(my_list[i][0])
        title_list.append(my_list[i][1])
        if len(my_list[i]) == 4:
            author_list.append(my_list[i][2])
        else:
            author_list.append(np.nan)
        
        try:
            content_list.append(my_list[i][-1])
        except:
            content_list.append(np.nan)

In [59]:
df = pd.DataFrame()

In [60]:
df['label'] = label_list

In [61]:
df['title'] = title_list

In [62]:
df['author'] = author_list

In [63]:
df['content'] = content_list

In [64]:
df['author'].describe()

count     7461
unique    6830
top        (记者
freq       153
Name: author, dtype: object

In [65]:
df.head()

,label,title,author,content
0,体育,马晓旭意外受伤让国奥警惕,无奈大雨格外青睐殷家军记者傅亚雨沈阳报道,来到沈阳，国奥队依然没有摆脱雨水的困扰。7月31日下午6点，国奥队的日常训练再度受到大雨的干...
1,体育,商瑞华首战复仇心切,NaN,中国玫瑰要用美国方式攻克瑞典多曼来了，瑞典来了，商瑞华首战求3分的信心也来了。距离首战72小...
2,体育,冠军球队迎新欢乐派对,NaN,目标冲进“90内”派对活动的幸运抽奖贯穿始终，一个个奖项逐渐颁出，而身为“队副”的黄旭仍然一...
3,体育,辽足签约危机引注册难关,NaN,高层威逼利诱合同笑里藏刀新浪体育讯2月24日，辽足爆发了集体拒签风波，不签合同，辽足的注册问...
4,体育,揭秘谢亚龙被带走：总局电话骗局,复制南杨轨迹体坛周报特约记者张锐北京报道,谢亚龙已经被公安部门正式宣布“立案侦查”，但谢亚龙等人是哪一天被辽宁警方带走的？又是如何被带...

In [68]:
def haveBJ(string):
    if '北京' in string:
        return True
    else:
        return False
df['content'].apply(haveBJ).value_counts()

False    43253
True      6747
Name: content, dtype: int64

In [71]:
df['label'].value_counts()

时尚    5000
财经    5000
体育    5000
游戏    5000
家居    5000
科技    5000
时政    5000
教育    5000
房产    5000
娱乐    5000
Name: label, dtype: int64